.navbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: #13131a;
  position: fixed;
  z-index: 999;
}

.navbar-auth {
  display: flex;
  gap: 10px;
  align-items: center;
}
.navbar-logo {
  display: flex;
}
.navbar-logo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
}
.navbar-logo img:hover {
  transform: rotate(180deg);
  transition: all 0.5s ease-in-out;
}
.navbar-logo img:not(:hover) {
  transform: rotate(0deg);
  transition: all 0.5s ease-in-out;
}
.navbar-logo h2 {
  font-size: 27px;
  color: whitesmoke;
  padding: 13px 20px;
  margin-right: 10px !important;

  font-weight: 700;
}
.navbar-logo h2 {
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease-in-out !important;
}
.navbar-logo h2:hover {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%) !important;
  transition: all 0.3s ease-in-out !important;
}

@media (max-width: 768px) {
  .logo-hide {
    display: none;
  }

  .navbar-logo h2 {
    font-size: 20px;
    margin-top: 5px;
  }
}
@media screen and (max-width: 300px) {
  .navbar-logo h2 {
    font-size: 16px;
    margin-top: 15px;
    padding: 0;
  }
}
