.sidebar {
  width: 260px;
  height: 100vh;
  background: #111;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.3s;
  overflow: auto;
}

::-webkit-scrollbar-thumb {
  background: #212121;
  border-radius: 10px;
}
.sidebar::-webkit-scrollbar{
  background: #181818;
  width: 10px;
}

.sidebar::-webkit-scrollbar-track {
  margin-top: 150px;
}
.sidebar-logo {
  display: flex;
  justify-content: space-between;
}
.sidebar-logo img{
  width: 65px;
  height: 65px;
  border-radius: 50%;
  cursor: pointer;
}

.sidebar-logo i{
  color: whitesmoke;
  font-size: 18px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 10px 20px;
}
.sidebar-logo i:hover{
  background: #212121;
  border-radius: 50%;
}
.sidebar-closed {
  width: 70px;
}
.new-chat{
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 15px 24px;
  border-radius: 20px;
  gap: 8px;
}
.new-chat:hover{
  background: #212121;
}

.your-chats{
  margin-top: 20px;
  padding: 0 24px;
  font-size: 14px;
  color: #888;
  cursor: pointer;
}

.chat-list{
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
  padding: 0 24px;
}