*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html{
  min-height: 100vh;
}

body{
  background: linear-gradient(135deg, #0f0f0f, #1a1a2e); /* 🔥 final bg */
  color: white;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.layout {
  transition: 0.3s ease;
}

.layout.open {
  margin-left: 260px;
}

.layout.closed {
  margin-left: 70px;
}

.main-area {
  transition: 0.3s ease;
}