*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html , body{
    height: 100%;
}

body{
    margin: 0;
  background: linear-gradient(135deg, #0f0f0f, #1a1a2e); /* 🔥 final bg */
  color: white;

}

.layout {
  transition: 0.3s ease;
}

.layout.open {
  margin-left: 260px;
}

.layout.closed {
  margin-left: 70px;
}

.main-area {
  transition: 0.3s ease;
}