*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html , body{
    height: 100%;
    background-color: #000;
    color: whitesmoke;
}

.layout {
  transition: 0.3s ease;
}

.layout.open {
  margin-left: 260px;
}

.layout.closed {
  margin-left: 70px;
}

.main-area {
  transition: 0.3s ease;
}